
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
}

.leftContainer {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
}

.rightContainer {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
}

.rootContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bookCard {
    border: 1px solid grey;
    border-radius: .5rem;
    padding: 1rem;
}

form {
    display: grid;
    grid-column: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 1rem;
}